{"filter":false,"title":".gitconfig","tooltip":"~/.gitconfig","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1584872524680,"hash":"4a6c32ab54cd682af7ebc8fa2839d1696fb729a1"}